@import '../../variables.scss';

$button-padding: 4px;
$color: rgba(0, 0, 0, 0.3);

.filterButton {
  .activeButton {
    padding: $button-padding - 1px;
    border: 1px solid black;
    border-radius: 4px;
  }

  button {
    font-size: $small-font-size;
    margin: $basic-length 0 $basic-length 0;
    padding: $button-padding;

    &:hover {
      padding: $button-padding - 1px;
      border: 1px solid $color;
      border-radius: 4px;
    }
  }
}