@import '../../variables.scss';

.filterButton {
  .activeButton {
    padding: $filter-button-padding - 1px;
    border: 1px solid $filter--border-color;
    border-radius: $filter-border-radius;
  }

  button {
    font-size: $small-font-size;
    margin: $basic-length 0 $basic-length 0;
    padding: $filter-button-padding;

    &:hover {
      padding: $filter-button-padding - 1px;
      border: 1px solid $filter-hover-border-color;
      border-radius: $filter-border-radius;
    }
  }
}