.Tooltip {
  pointer-events: none;
  padding: 16px;
  background: #0697FF;
  box-shadow: 2px 8px 16px rgba(6, 151, 255, 0.2), 0px -2px 4px rgba(6, 151, 255, 0.2);
  border-radius: 8px;
  font-size: 14px;
  line-height: 20px;
  color: white;

  .tipCloseCross {
    position: absolute;
    top: 0;
    right: 4px;
  }
}

.tipArrow {
  background: black;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
}