@import '../../variables.scss';

.heading {
  font-size: $big-font-size;
  margin: $basic-length * 2 0;
}

.main {
  font-family: Roboto, sans-serif;
  width: $basic-length * 40;
  margin: auto;


  .counter {
    font-size: $small-font-size;
    margin-top: $basic-length;
  }
}
