@import '../../variables.scss';

.app {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sideMenu {
  border-right: 1px solid black;
  max-height: 100vh;
  width: $basic-length * 24;
}

.main {
  font-family: Roboto, sans-serif;
  width: $basic-length * 40;
  margin: $basic-length * 4 auto;

  .heading {
    font-size: $big-font-size;
    margin: $basic-length * 2 0;
  }

  .counter {
    font-size: $small-font-size;
    margin-top: $basic-length;
  }
}

/*#modal-root {
  position: relative;
  z-index: 999;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}*/

.hideModal {
  border: 1px solid red;
}

.box {
  box-shadow: 0 0 0 1px black;
  background-color: white;
}

.buttonTip {
  border: 1px solid black;
  border-radius: 4px;
  padding: 8px;
  position: relative;

  .buttonCross {
    position: absolute;
    top: 0;
    right: 0;
  }
}
