.toDoLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: 3px 3px 1px 0 rgba(34, 60, 80, 0.2);
  margin: 8px 0;

  .customCheckbox {
    margin-right: 8px;
  }

  .buttonDelete {
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 8px;

    button {
      border: none;
      background: none;
      color: rgba(255, 0, 0, 0.5);

      &:hover {
        color: rgba(255, 0, 0, 1);
      }
    }
  }
}

.checked {
  color: gray;
  text-decoration: line-through;

}

