@import '../../variables.scss';

$indent: $basic-length * 3;

.customCheckbox {
  padding-left: $indent;

  .checkInput {
    position: absolute;
    appearance: none;
    // Checked
    &:checked + .checkBox {
      background-color: white;

      // Галка
      &:after {
        content: "";
        position: absolute;
        width: 5px;
        height: 10px;
        border: solid #1E80EF;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        top: 5px;
        left: 9px;
      }
    }

    // Focused
    &:focus + .checkBox {
      box-shadow: 0 0 0 1px #1E80EF,
      0 0 0 2px #7ED321;
    }

    // Disabled
    &:disabled + .checkBox {
      box-shadow: 0 0 0 1px gray;
    }

    &:checked:disabled + .checkBox {
      background-color: gray;
    }
  }

  .checkBox {
    position: absolute;
    width: $indent;
    height: $indent;
    margin-left: -20px;
    margin-top: -12px;
    border-radius: $checkbox-border-radius;
    box-shadow: 0 0 0 1px #1E80EF;
    background-color: white;
  }
}
