$big-font-size: 28px;
$basic-font-size: 16px;
$small-font-size: 12px;

$basic-length: 8px;
$option-buttons-width: $basic-length * 12;
$checkbox-border-radius: 100%;

$filter-button-padding: 4px;

$filter-border-radius: 4px;



$red-color: rgba(255, 0, 0, 1);
$red-color-light: rgba(255, 0, 0, 0.5);
$filter-hover-border-color: rgba(0, 0, 0, 0.3);
$border-color: rgba(0, 0, 0, 1);
$checkbox-border-color: #1E80EF;
$checkbox-border-hover-color: #7ED321;